.pop-logo {
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.pop-logo .pop-container {
    height: 200px;
    left: 50%;
    margin-top: 1em;
    position: relative;
    text-align: center;
    transform: translateX(-50%);
    width: 200%;
}

.pop-layer {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.pop-layer .pop-bg {
    background: #000;
    filter: alpha(opacity=70);
    height: 100%;
    left: 0;
    opacity: .7;
    position: absolute;
    top: 0;
    width: 100%;
}

.pop-layer .pop-container {
    height: 100%;
    left: 0;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
}

.pop-layer .pop-container .pop-title {
    font-size: 5vw;
    margin-top: 10%;
    padding: 1%;
}

.pop-layer .pop-container .pop-racer {
    font-size: 13vw;
    font-weight: bold;
    padding: 1%;
}

.pop-layer .pop-container .pop-time {
    font-size: 7vw;
    padding: 1%;
}

.pop-layer .pop-container .pop-message {
    font-size: 5vw;
    margin-top: 10%;
}

.pop-rank1 {
    color: #fbdf47;
}

.pop-rank2 {
    color: #cacacd;
}

.pop-rank3 {
    color: #fac07b;
}
