* {
  margin: 0;
  padding: 0;
}

html {
  background: #111;
  color: #eee;
  font-family: Menlo, Noto Mono;
}

div {
  display: block;
}

a {
  color: #fff;
  text-decoration: none;
}

footer {
  height: 50px;
}

.auth {
  color: #555;
}

.logo {
  display: block;
  height: 180px;
  line-height: 0;
  margin: 15px 0;
  overflow: hidden;
  text-align: center;
}

.logo img {
  height: 100%;
}

.title {
  height: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}

.lb-items {
  margin: 0 auto;
  max-width: 1200px;
}

.lb-items .lb-header,
.lb-items .lb-row {
  display: flex;
  width: 100%;
}

.lb-items .lb-header {
  color: #aaa;
  font-size: 18px;
  text-transform: uppercase;
}

.lb-items .lb-row {
  background: linear-gradient(90deg, #456 0, #326);
  color: #fff;
  font-size: 28px;
  margin-bottom: 5px;
}

.lb-items .lb-header>div,
.lb-items .lb-row>div {
  padding: 15px 30px;
  text-align: center;
}

.lb-items .lb-header>div:nth-child(1),
.lb-items .lb-row>div:nth-child(1) {
  width: 20%;
}

.lb-items .lb-header>div:nth-child(2),
.lb-items .lb-row>div:nth-child(2) {
  margin-right: auto;
  text-align: left;
  width: 50%;
}

.lb-items .lb-header>div:nth-child(n+3),
.lb-items .lb-row>div:nth-child(n+3) {
  display: block;
  text-align: left;
  width: 30%;
}

.lb-items .lb-rank1,
.lb-items .lb-rank2,
.lb-items .lb-rank3 {
  color: #222;
}

.lb-items .lb-rank1 {
  background: linear-gradient(90deg, #fd4 0, #a61);
}

.lb-items .lb-rank2 {
  background: linear-gradient(90deg, #ccc 0, #666);
}

.lb-items .lb-rank3 {
  background: linear-gradient(90deg, #fc7 0, #864);
}

.lb-items .icon-trophy {
  height: 26px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.lb-items .icon-logo {
  height: 40px;
  position: relative;
}

.lb-submit {
  margin: 0 auto;
  max-width: 1024px;
}

.lb-submit .lb-row {
  display: flex;
  width: 100%;
  background: linear-gradient(90deg, #456 0, #326);
  color: #fff;
  margin-bottom: 5px;
}

.lb-submit .lb-row>div {
  font-size: 32px;
  padding: 15px 30px;
  text-align: center;
}

.lb-submit .lb-row>div:nth-child(1) {
  margin-top: 10px;
  min-width: 100px;
  width: 15%;
}

.lb-submit .lb-row>div:nth-child(2) {
  margin-right: auto;
  text-align: left;
  width: 85%;
}

.lb-submit .lb-row input {
  background-color: transparent;
  border-radius: 3px;
  font-size: 32px;
  height: 40px;
  line-height: 20px;
  padding: 4px 10px;
  margin-right: 20px;
}

.lb-submit .lb-row input:focus {
  border: 1px solid #0ac;
  box-shadow: 0 0 0 1px #0ac;
  outline: 0;
}

.text_normal {
  color: #fff;
  border: 1px solid #aaa;
}

.text_red {
  color: #e55;
  border: 1px solid #e55;
}

.width_80 {
  width: 80%;
}

.checkbox {
  width: 20px;
  margin-left: 20px;
}

.select_tz {
  font-size: 18px;
  color: #111;
}

.lb-btn-submit {
  background-color: #e71;
  background-image: linear-gradient(180deg, #f71 0, #e50);
  border-color: #e60 #e50 #e50;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  width: 250px;
  height: 40px;
}

.pollen {
  display: block;
  z-index: 999999;
  pointer-events: none;
  position: fixed;
  top: 0;
}
