.pop-logo {
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.pop-logo .pop-bg {
    background: #000;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.pop-logo .pop-container {
    height: 100%;
    left: 0;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
}

.pop-logo .pop-container .pop-header {
    height: 66%;
    margin-top: 10%;
    padding: 1%;
}

.pop-logo .pop-container .pop-header img {
    height: 100%;
}

.pop-logo .pop-container .pop-message {
    font-size: 5vw;
    font-weight: bold;
    padding: 1%;
}

.pop-layer {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 300;
}

.pop-layer .pop-bg {
    background: #000;
    filter: alpha(opacity=70);
    height: 100%;
    left: 0;
    opacity: .7;
    position: absolute;
    top: 0;
    width: 100%;
}

.pop-layer .pop-container {
    height: 100%;
    left: 0;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
}

.pop-layer .pop-container .pop-header {
    font-size: 5vw;
    margin-top: 8%;
    padding: 1%;
}

.pop-layer .pop-container .pop-message {
    font-size: 13vw;
    font-weight: bold;
    padding: 1%;
}

.pop-layer .pop-container .pop-footer {
    font-size: 7vw;
    padding: 1%;
}

.pop-rank1 {
    color: #fd4;
}

.pop-rank2 {
    color: #ccc;
}

.pop-rank3 {
    color: #fc7;
}
