.tm-controls {
  position: fixed;
  text-align: center;
  top: 1em;
  width: 85%;
}

.tm-button {
  background: #111;
  border: 0;
  font-size: 3vw;
  margin: 0 0.5em;
  text-decoration: none;
}

.tm-button:first-child {
  margin-left: 0;
}

.tm-button:last-child {
  margin-right: 0;
}

.tm-button:hover {
  color: #eee;
}

.tm-btn_start {
  color: #3b7;
}

.tm-btn_pause {
  color: #fa3;
}

.tm-btn_passed {
  color: #4af;
}

.tm-btn_reset {
  color: #e43;
}

.tm-btn_clear {
  color: #ddd;
}

.tm-limiter {
  font-size: 6vw;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 85%;
}

.tm-limiter_yellow {
  color: #ea5;
}

.tm-limiter_red {
  color: #e55;
}

.tm-display {
  font-size: 15vw;
  position: fixed;
  text-align: center;
  top: 35%;
  width: 85%;
}

.tm-bestlap {
  font-size: 5vw;
  position: fixed;
  text-align: center;
  top: 75%;
  width: 85%;
}

.tm-results {
  font-size: 2vw;
  left: 85%;
  list-style: none;
  position: fixed;
  text-align: center;
  top: 2em;
  width: 15%;
}
