@font-face {
  font-family: sf-mono;
  src: url("https://nalbam.com/static/fonts/sf-mono-regular.woff");
}

.tm-controls {
  position: fixed;
  text-align: center;
  top: 1em;
  width: 85%;
}

.tm-button {
  font-family: sf-mono, Noto Mono;
  font-size: 2vw;
  margin: 0 0.5em;
  text-decoration: none;
}

.tm-button:first-child {
  margin-left: 0;
}

.tm-button:last-child {
  margin-right: 0;
}

.tm-button:hover {
  color: #eee;
}

.tm-btn_start {
  color: #3b7;
}

.tm-btn_pause {
  color: #fa3;
}

.tm-btn_passed {
  color: #4af;
}

.tm-btn_reset {
  color: #e43;
}

.tm-btn_clear {
  color: #ccc;
}

.tm-btn_drop {
  color: #93e;
}

.tm-btn_reject {
  color: #e3e;
}

.tm-limiter {
  font-family: sf-mono, Noto Mono;
  font-size: 6vw;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 85%;
}

.tm-limiter_normal {
  color: #ddd;
}

.tm-limiter_yellow {
  color: #ea5;
}

.tm-limiter_red {
  color: #e55;
}

.tm-display {
  font-family: sf-mono, Noto Mono;
  font-size: 15vw;
  position: fixed;
  text-align: center;
  top: 30%;
  width: 85%;
}

.tm-bestlap {
  font-family: sf-mono, Noto Mono;
  font-size: 5vw;
  position: fixed;
  text-align: center;
  top: 75%;
  width: 85%;
}

.tm-lastlap {
  font-family: sf-mono, Noto Mono;
  font-size: 5vw;
  position: fixed;
  text-align: center;
  top: 85%;
  width: 85%;
}

.tm-results {
  font-family: sf-mono, Noto Mono;
  font-size: 2vw;
  left: 85%;
  list-style: none;
  position: fixed;
  text-align: center;
  top: 2em;
  width: 15%;
}

.tm-best_time {
  color: #4af;
}
